$primary-color: white;
$accent-color: #9FD58E;
$background-color: #eee;

#app {
  background: $background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: overlay;

  .panel-custom {
    .panel-heading {
      background: $primary-color;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    border-radius: 10px;
  }

  .btn-floating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    color: white;
    position: fixed;
    border-radius: 50%;
    width: 10vmax;
    height: 10vmax;
    max-width: 56px;
    max-height: 56px;
    font-size: 2.2rem;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  .navbar-brand {
    background: url(/images/logo/logo_128.png) right no-repeat;
		right: 41%;
		color: #2F9B12;
		font-weight: 700;
		position: absolute;
		background-size: 46px 46px;
		//padding-right: 50px;
		padding: 25px 44px !important;
		//if it's small
		// font: 0/0 a;
		// color: transparent;
		// text-shadow: none;
		// background-color: transparent;
		// border: 0;
		// right:0%
  }
  .navbar-toggle.collapsed>.navbar-brand {

  }
  .navbar-right {
    .log>a {
        padding-right : 45px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 45px;
        content: "";
        display: inline-block;
        vertical-align: right;
    }
    .log.in>a{
      background-image: url(/images/logo/logo_128.png);
    }
    .log.out>a{
      background-image: url(/images/logo/logo_128_logout.png);
    }
  }
	.choose-crops{
		padding-bottom: 40px;
	}
	.row {
		padding-bottom: 15px;
	}
	.btn-default.active{
		background-color: green;

	}
	.button-checkbox-center {
		display: flex;
		flex-direction: row;
		.rbt {
			width: 100%;
		}
	}
	.button-checkbox-center > [class^="col-"],
	.button-checkbox-center > [class*=" col-"] {
		display: flex;
		align-items: center;
		justify-content: left;
	}
	.btn-group >.btn{
		padding: 13px 13px;
	}
	.yourBeds{
		text-align: center;
	}
	.yourBeds li{
		list-style-type: none;
		text-align: center;
	}
	.about{

		#imageTitle{
			background-image: url(/images/logo/logo_128.png);
			padding: 100px;
			background-repeat: no-repeat;

			background-size: 118px;
			@media (max-width: 992px) {
				background-position: center;
			}
			@media (min-width: 992px) {
				background-position: right;
			}
		}
		.textTitle{
			size: 17px;
			text-align: left;
			//padding-left: -15px;
			@media (max-width: 992px) {
				text-align: center;
				margin-top: -40px;
			}
			@media (min-width: 992px) {
				text-align: left;
				padding-top: 70px
			}
		}
		.textBody{
			text-align: center;
		}
	}
}
