$primary-color: white;
$accent-color: #9FD58E;
$background-color: #eee;

#app {
  background: $background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: overlay;

  .panel-custom {
    .panel-heading {
      background: $primary-color;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    border-radius: 10px;
  }

  .btn-floating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    color: white;
    position: fixed;
    border-radius: 50%;
    width: 10vmax;
    height: 10vmax;
    max-width: 56px;
    max-height: 56px;
    font-size: 2.2rem;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  .navbar-brand {
    background: url(/images/logo/logo_128.png) right no-repeat;
		right: 50%;
		position: absolute;
		background-size: 46px 46px;
		padding-right: 50px;
		//if it's small
		// font: 0/0 a;
		// color: transparent;
		// text-shadow: none;
		// background-color: transparent;
		// border: 0;
		// right:0%
  }
  .navbar-toggle.collapsed>.navbar-brand {

  }
  .navbar-right {
    .log>a {
        padding-right : 45px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 45px;
        content: "";
        display: inline-block;
        vertical-align: right;
    }
    .log.in>a{
      background-image: url(/images/logo/logo_128.png);
    }
    .log.out>a{
      background-image: url(/images/logo/logo_128_logout.png);
    }
  }


}
